<!DOCTYPE html >
<html>
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Beermatching </title>
  </head>
  <body>
    <div class="logo"><img src=""/></div>
    <div class="topnav">
      <ul>
        <li> <a href="home">Home </a></li>
        <li> <a href="selection">Beer </a></li>
        <li> <a href="profile">Profile </a></li>
      </ul>
    </div>
    <main> 
      <p>A nice beer! </p>
    </main>
    <footer>
      <p>'Powered by Wouter Bijnsdorp'</p>
    </footer>
  </body>
</html>