<!DOCTYPE html >
<html>
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Beermatching </title>
  </head>
  <body>
    <div class="logo"><img src=""/></div>
    <div class="topnav">
      <ul>
        <li> <a href="home">Home </a></li>
        <li> <a href="">Beer </a></li>
        <li> <a href="">Profile </a></li>
      </ul>
    </div>
    <main> 
      <form method="post" action="/preferences"> 
        <div class="userPreference">
          <label for="genderOther">Your dating preference is someone that identifies as a </label>
          <select name="genderOther" value="" required="required">
            <option value="woman">
              <p>woman                   </p>
            </option>
            <option value="man">
              <p>man</p>
            </option>
            <option value="either">
              <p>either</p>
            </option>
          </select>
          <label for="minAgePreference"> and who's age is around </label>
          <input type="number" name="minAgePreference" min="18" max="100" value="" required="required"/>
          <label for="maxAgePreference"> and  </label>
          <input type="number" name="maxAgePreference" min="18" max="100" value="" required="required"/>
          <label for="range">years old.  They should like at least  </label>
          <input type="number" min="1" max="100" name="percent" value="" required="required"/>
          <p>percent of the beer you do. </p>
          <input type="submit" value="Save"/>
        </div>
      </form>
    </main>
    <footer>
      <p>'Powered by Wouter Bijnsdorp'</p>
    </footer>
  </body>
</html>