<!DOCTYPE html >
<html>
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Beermatching </title>
  </head>
  <body>
    <div class="logo"><img src=""/></div>
    <div class="topnav">
      <ul>
        <li> <a href="home">Home </a></li>
        <li> <a href="selection">Beer </a></li>
        <li> <a href="profile">Profile </a></li>
      </ul>
    </div>
    <main> 
      <form action="/preferences" method="POST">
        <p>
          <div class="userPreference"></div>
          <label for="genderOther">Your dating preference is people that identify as </label>
          <input type="text" name="genderOther" value="" required="required"/>
          <label for="minAgeRange"> and who are between </label>
          <input type="text" name="minAgeRange" value="" required="required"/>
          <label for="maxAgeRange"> and  </label>
          <input type="text" name="maxAgeRange" value="" required="required"/>
          <label for="percentRange"> years old. </label>
        </p>
        <p>  You think a potential match should have selected at least 
          <input type="text" name="percentRange" value=""/> percent of the <a href="selection"> beer</a> you have. 
        </p>
        <input type="submit" value="Save"/>
      </form>
    </main>
    <footer>
      <p>'Powered by Wouter Bijnsdorp'</p>
    </footer>
  </body>
</html>