<!DOCTYPE html >
<html>
  <head> 
    <meta name="viewport" content="widt=device-width, initial-scale=1"/>
    <title>Beermatching </title>
  </head>
  <body>
    <div class="logo"><img src=""/></div>
    <div class="topnav">
      <ul>
        <li> <a href="home">Home </a></li>
        <li> <a href="selection">Beer </a></li>
        <li> <a href="profile">Profile </a></li>
      </ul>
    </div>
    <main> 
      <form action="/profile" method="POST">
        <p>
          <div class="userinfo"></div>
          <label for="name">Your name is </label>
          <input type="text" name="name" value="Wouter Bijnsdorp" required="required"/>
          <label for="birthdate">, you were born on </label>
          <input type="date" name="birthdate" value="1998-12-09" required="required"/>
          <label for="genderOwn">. You identify as a </label>
          <input type="text" name="genderOwn" value="man" required="required"/>
        </p>
        <input type="submit" value="Save"/>
      </form>
    </main>
    <footer>
      <p>'Powered by Wouter Bijnsdorp'</p>
    </footer>
  </body>
</html>