<!DOCTYPE html >
<html>
  <head> 
    <meta name="viewport" content="widt=device-width, initial-scale=1"/>
    <title>My First Pug Page </title>
  </head>
  <body>
    <div class="logo"><img src=""/></div>
    <div class="topnav">
      <ul>
        <li> <a href="">Home </a></li>
        <li> <a href="selection">Beer </a></li>
        <li> <a href="profile">Profile </a></li>
      </ul>
    </div>
    <main> 
      <p>your profile  </p>
    </main>
    <footer>
      <p>'Powered by Wouter Bijnsdorp'</p>
    </footer>
  </body>
</html>