extends templates/layout

block main 
    main 
        preferenceDiv
            <a href="preferences">Change your preferences here!</a>

        .usersListed
            each user in userList 
                .user 
                    h2 #{user.firstName}
                    h3 #{user.age} 
                    h3 #{user.beers}
            else 
                .oh-no You have no users to see! Maybe try changing your preferences?