doctype html 
html
    head 
        meta(name="viewport" content="widt=device-width, initial-scale=1")
        title My First Pug Page 
    body
        h1 My First Pug Page!
        main 
            h2 This is the main