extends templates/layout

block main 
    main 
        <a href="preferences">Preferences</a>
            each user in userList 
                .user 
                    h2 #{user.firstName}
                    h3 #{user.age} 
                    h3 #{user.beers}
            else 
                .oh-no You have no users to see! Maybe try changing your preferences?