extends templates/layout

block main 
    main 
        form(action='/preferences', method='POST')
            .userPreference
                label(for='genderOther') Your dating preference is people that identify as 
                select(name='genderOther', value='' required)
                    option(value='woman')
                        p woman                   
                    option(value='man')
                        p man
                    option(value='either')
                        p either
                label(for='minAgeRange')  and who are around 
                input(type='number', name='agePreference', min='1', max='100', value='' required)   
                label(for='range') years old.  Who like about  
                input(type='number', min='1', max='100', name='percent' value='' required)
                p percent of the beer you do. 

                input(type='submit', value='Save')