extends templates/layout

block main 
    main 
        form(action='/preferences', method='POST')
            p
                .userPreference
                label(for='genderOther') Your dating preference is people that identify as 
                input(type='text', name='genderOther', value='' required)
                label(for='minAgeRange')  and who are between 
                input(type='text', name='minAgeRange', value='' required)
                label(for='maxAgeRange')  and  
                input(type='text', name='maxAgeRange', value='' required)
                label(for='percentRange')  years old. 
                    
            p   You think a potential match should have selected at least 
                input(type='text', name='percentRange', value='')
                |  percent of the <a href="selection"> beer</a> you have. 
            
            input(type='submit', value='Save')