extends templates/layout

block main 
    main 
        form(action='/profile', method='POST')
            p
                .userinfo
                label(for='name') Your name is 
                input(type='text', name='name', value='Wouter Bijnsdorp')
                label(for='birthdate') , you were born on 
                input(type='date', name='birthdate', value='1998-12-09')
                label(for='genderOwn') . You identify as a 
                input(type='text', name='genderOwn', value='man')

            input(type='submit', value='Save')