extends templates/layout

block main 
    main 
        p select some beers 
        ul 
            li
                a(href='beer') Pauwel kwak 
            li
                a(href='beer') La Chouffe 
            li
                a(href='beer') Cosmic Wave 