
<div id="userList"> 
  <div class="user"> 
    <div class="firstName">Clara</div>
    <div class="age">50</div>
    <div class="percentage">593</div>
  </div>
  <div class="user"> 
    <div class="firstName">Pien</div>
    <div class="age">30</div>
    <div class="percentage">248</div>
  </div>
  <div class="user"> 
    <div class="firstName">Willem</div>
    <div class="age">25</div>
    <div class="percentage">153</div>
  </div>
  <div class="user"> 
    <div class="firstName">Karel</div>
    <div class="age">21</div>
    <div class="percentage">534</div>
  </div>
</div>