-
    const userList = [
        {
            'firstName':'Clara',
            'age': '50',
            'gender': 'f',
            'beers':'53'
        },
        {
            'firstName':'Pien',
            'age': '30',
            'gender': 'f',
            'beers':'24'
        },
        {
            'firstName':'Willem',
            'age': '25',
            'gender': 'm',
            'beers':'13'
        },
        {
            'firstName':'Karel',
            'age': '21',
            'gender': 'm',
            'beers':'53'
        }
    ]


