- let firstNameUser = "Wouter"
- let lastNameUser = "Bijnsdorp"
- let fullNameUser = firstNameUser + ' ' + lastNameUser
#nameUser #{fullNameUser}

-
    const preferences = [
        {
            'gender': 'f',
            'tasteOverlapPref': '50',
            'agePref': '20-24'
        }
    ]
